HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.env

# macOS
.DS_Store

# Local Keycloak PostgreSQL data
/keycloak_db_data/

# Local Keycloak TLS files
infrastructure/keycloak/certs/*.crt
infrastructure/keycloak/certs/*.key
infrastructure/keycloak/certs/*.pem